.category {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow: hidden;
  transition: all .5s;
  background-color: #8eabff;
  color: #000;
  h3 {
  }
  
}

.category-header {
  display: flex;
  width: 20%;
  padding: 20px;
  justify-content: space-around;
  h2 {
    width: 160px;
  }
}

.categories {
  display: flex;
  flex-direction: column;
}

.category-active {
  // max-width: 60vw;
  max-height: 100vh;
  transition: all 1s;
}

.category-button {
  // transform: rotate(90deg);
  font-size: 2.5rem;
  display: block;
  background-color: #f7f9ff;
  border: 3px solid #3f65a3;
  border-radius: 50%;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;

  .triangle {
    width:0;
    border-left: 10px solid #f7f9ff; 
    border-right :10px solid #f7f9ff;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.not_started {
  background-color: rgba(255, 0, 0, 0.2);
  border-bottom: 2px solid rgb(255, 0, 0);
  h2 {
    color: rgba(255,0,0,0.8);
  }
  .category-button {
    border: 3px solid rgba(255,0,0,0.8);
    .triangle {
      border-top: 20px solid rgba(255,0,0,0.8);
    }
  }
  .todo {
    background-color: rgba(255,0,0,0.2);
    .todo-menu-button {
    }
  }
}

.started {
  background-color: rgba(252, 208, 50, 0.2);
  border-bottom: 2px solid rgb(252, 208, 50);
  h2 {
    color: rgba(252, 208, 50, 0.8);
  }
  .category-button {
    border: 3px solid rgba(252, 208, 50, 0.8);
    .triangle {
      border-top: 20px solid rgba(252, 208, 50, 0.8);
    }
  }
  .todo {
    background-color: rgba(252, 208, 50, 0.3);
    .todo-menu-button {
    }
  }
}

.ended {
  background-color: rgba(0, 255, 0, 0.2);
  border-bottom: 2px solid rgb(0, 255, 0);
  h2 {
    color: rgba(0,255,0,0.8);
  }
  .category-button {
    border: 3px solid rgba(0,255,0,0.8);
    .triangle {
      border-top: 20px solid rgba(0,255,0,0.8);
    }
  }
  .todo {
    background-color: rgba(0,255,0,0.3);
    .todo-menu-button {
    }
  }
}