#form-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

#login-container {

  #login-errors {
    padding: 30px;
  }
}

#registration-errors, #todo-errors {
  padding: 10px;
  overflow: hidden;
  max-height: 0;
  transition: all 1s;
}

.show-error {
  max-height: 200px !important;
  transition: all 1s;
}

#form-registration, #form-login, #form-todo, .todo {
  border: 3px solid black;
  border-top: none;
  border-bottom: none;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  background-color:#3f65a3;
  margin: auto;

  input, textarea {
    padding: 10px;
    margin: 10px;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    border-radius: 10px;
    background-color: #f7f9ff;
    font-size: 1rem;
  }

  button {
    float: right;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
  }
}



#login-container, #registration-container {
  display: none;
}

.active-form {
  display: block !important;
}

.todos-container {
}

#info-content {
  margin: 20px auto;
}

#header-form-container {
  margin: 0 auto;
  width: 100%;
  button {
    width: 49%;
  }
}

input:disabled {
  background-color: grey !important;
}

