.todos {
  display: flex;
  flex-flow: row wrap;
}

.todo {
  margin: 40px;
  height: 200px;
  h3 {
    text-align: center;
  }
}

.todo-body {
  display: flex;
  h5 {
    margin: 20px;
  }
}

.todo_rm {
  color: red;
}