$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

@import 'forms';
@import 'todos';
@import 'categories';
@import 'not_found';
@import 'header';
@import 'modals';

body {
  margin: 0;
  background: #e5eeff;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

main {
  height: 100%;
  padding-bottom: 320px;
}

input, textarea {
  transition: background-color .5s ease-in-out;
   -moz-transition: background-color .5s ease-in-out;
   -webkit-transition: background-color .5s ease-in-out; 
  -o-transition: background-color .5s ease-in-out; 
}

.wrap {
  margin: 0 auto;
  max-width: 90%;
}

#main-content {
}
#auth-content {
  display: flex;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3f65a3;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin-top: 21%;
}
